@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./source/air-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media(max-width:440px){
    body{
        background-image: url("./source/second-bg.jpg");
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.notVisible{
  display: none!important;
}

.loader{
  height: 100vh;
  width: 100%;
  background: url("./source/sky.png");
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.sky{
  position: absolute;
  top:30%;
  right: -500px;
  z-index:99;
  animation: sky 10s linear 0s infinite reverse;
}

@keyframes sky{
from{right:-500px;}
to{right:100%}
}

.sky img{
width:200px;
}

.main-body{
  height: 100vh
}